/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.06.2017, 16:55:46
    Author     : Popov Aleksey 2017
*/
.table-company{
    color:  #1982A5;
}

.table-header{
    color:  #FF6600;
    font-weight: bolder;
    font-size: 200%;
    text-align: center;
}
.table-content{
    font-weight: bold;
    font-size: 250%;
}

.table-window{
    color:  darkblue;
    text-align: center;
}

.table-ticket{
    color:  darkgreen;
    text-align: center;    
}


/*Flex*/

.table-header{
    display: flex;
    /*background-color: yellow;*/
    justify-content: space-around;
    flex-direction: row;
}

.header-window{
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    /*background-color: blueviolet; */
}

.header-ticket{
    display: flex;
    /*background-color: #00FF00;*/
    flex: 0 0 50%;
    flex-direction: column;
    
}

.table-content{
    display: flex;
    padding: 1em 0 1em 0;
    justify-content: space-around;
    flex-direction: row;
    /*background-color: chocolate;*/
}

.table-window{
    display: flex;
    flex:   0 0 50%;
    flex-direction: column;
    /*background-color: lightgreen;*/
    
}

.table-ticket{
    display: flex;
    flex:   0 0 50%;
    flex-direction: column;
    /*background-color: #9ee8fa;*/
    
}
